
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
}



th.one, th.three {
    width: 15%
  }
  th.two {
    width: 70%; /* Not necessary, since only 70% width remains */
  }

